body {
}

.header {
    background-color: darkblue;
    color: white;
    height: 100%;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
.header-top h2 {
    flex: 1;
    position: relative;
    top: -15px;
    left: 5px;
}

.header-links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0 0px;
    height: 20px;
}

.middle {
  background-color: darkblue;
  display: flex;
}
.middle h1 {
    font-size: 78px;
    margin: 0 auto -20px auto;
}
.middle-right img {
  height: 400px;
  position: relative;
  right: 0;
}
.middle-left {
    text-align: center;
    font-size: 28px;
    padding: -10px 0;
}

div img {
    height: 60px;
}
button {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
}